<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="./static/css/style.css">
	<link rel="stylesheet" type="text/css" href="./static/css/fonts.css">
	<script type="text/javascript" src="./static/js/jquery.min.js"></script>
	<script type="text/javascript" src="./static/js/echarts.min.js"></script>
	<script type="text/javascript" src="./static/js/jquery.js"></script>
	<script type="text/javascript" src="./static/js/xlsx.full.min.js"></script>
</head>
<body>
	 <script>
		 
		!function(){
		 
			function n(n,e,t){
				 
				return n.getAttribute(e)||t
			 
			}
			 
			function e(n){
			 
				return document.getElementsByTagName(n)
			 
			}
			 
			function t(){
			 
				var t=e("script"),o=t.length,i=t[o-1];
				 
				return{
				 
						l:o,z:n(i,"zIndex",-1),o:n(i,"opacity",3),c:n(i,"color","255,255,255"),n:n(i,"count",200)
					 
					}
			 
			}
			 
			function o(){
			 
				a=m.width=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth,
				 
				c=m.height=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight
			 
			}
			 
			function i(){
			 
				r.clearRect(0,0,a,c);
				 
				var n,e,t,o,m,l;
				 
				s.forEach(function(i,x){
					 
					for(i.x+=i.xa,i.y+=i.ya,i.xa*=i.x>a||i.x<0?-1:1,i.ya*=i.y>c||i.y<0?-1:1,r.fillRect(i.x-.5,i.y-.5,1,1),e=x+1;e<u.length;e++)n=u[e],
					 
					null!==n.x&&null!==n.y&&(o=i.x-n.x,m=i.y-n.y,
					 
					l=o*o+m*m,l<n.max&&(n===y&&l>=n.max/2&&(i.x-=.03*o,i.y-=.03*m),
					 
					t=(n.max-l)/n.max,r.beginPath(),r.lineWidth=t/2,r.strokeStyle="rgba("+d.c+","+(t+.2)+")",r.moveTo(i.x,i.y),r.lineTo(n.x,n.y),r.stroke()))
				// stroke() 方法会实际地绘制出通过 moveTo() 和 lineTo() 方法定义的路径,默认颜色是黑色
				 
				}),
				 
				x(i)
			 
			}
			 
				var a,c,u,m=document.createElement("canvas"),
				 
				d=t(),l="c_n"+d.l,r=m.getContext("2d"),
				 
				x=window.requestAnimationFrame||window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.oRequestAnimationFrame||window.msRequestAnimationFrame||
			 
			function(n){
			 
				window.setTimeout(n,1e3/45)
			 
			},
			 
			w=Math.random,y={x:null,y:null,max:2e4};m.id=l,m.style.cssText="position:fixed;top:0;left:0;z-index:"+d.z+";opacity:"+d.o,e("body")[0].appendChild(m),o(),window.onresize=o,
			 
			window.onmousemove=function(n){
			 
				n=n||window.event,y.x=n.clientX,y.y=n.clientY
			 
			},
			 
			window.onmouseout=function(){
			 
				y.x=null,y.y=null
			 
			};
			 
			for(var s=[],f=0;d.n>f;f++){
			 
				var h=w()*a,g=w()*c,v=2*w()-1,p=2*w()-1;s.push({x:h,y:g,xa:v,ya:p,max:6e3})
			 
			}
			 
			u=s.concat([y]),
			 
			setTimeout(function(){i()},100)
		 
		}();
		 
	</script> 
	<div class="meal-box">
		<div class="meal-title">
			<h2 style="size:1px; ">PFAVT</h2>
			<p>选择展示效果，热力图，路线图，动态热力图等等</p>
		</div>
		<div class="meal-center">
			<ul>
				<li>
					<span>
						  <b style="display: block;font-size: 2em;">热 力 图</b>
			              <hr style="opacity: 0.1">
			              <img src="./static/src/heatmap.jpeg" class="pg" title="热力图是以特殊高亮的形式显示访客热衷的页面区域和访客所在的地理区域的图示。热力图 可以显示不可点击区域发生的事情。城市热力图该检测方式只提供参考。">
			              <b></b>
			              <b></b>
			              <hr style="opacity: 0.1;" />
			              <font style="background-color: black;">
			              <!-- <a href="#" class="big-link" data-reveal-id="myModal" data-animation="fade">查看详情</a> -->
			              <!-- <a href="#">查看详情</a> -->
			              <a class="big-link"  data-reveal-id="myModal1" href="#">上传数据</a>
			              </font>
			              <hr style="opacity: 0;" />
					</span>
				</li>
				<li>
					<span>
						  <b style="display: block;font-size: 2em;">路 线 图</b>
						  <hr style="opacity: 0.1">
						  <img src="./static/src/luxian.gif" style="height: auto;" class="pg" title="热力图是以特殊高亮的形式显示访客热衷的页面区域和访客所在的地理区域的图示。热力图 可以显示不可点击区域发生的事情。城市热力图该检测方式只提供参考。">
						  <b></b>
						  <b></b>
			              <hr style="opacity: 0.1;" />
						  <font>
							<a class="big-link" data-reveal-id="myModal2" href="#">上传数据</a>
						  </font>
						  <hr style="opacity: 0;" />
					</span>
				</li>
				<li>
					<span>
						  <b style="display: block;font-size: 2em;">动 态 热 力 图</b>
						  <hr style="opacity: 0.1">
						  <img src="./static/src/dynamicheatmap .gif"  class="pg" title="热力图是以特殊高亮的形式显示访客热衷的页面区域和访客所在的地理区域的图示。热力图 可以显示不可点击区域发生的事情。城市热力图该检测方式只提供参考。">
						  <b></b>
						  <b></b>
			              <hr style="opacity: 0.1;" />
						  <font>
							<a class="big-link"  data-reveal-id="myModal3" href="#">上传数据</a>
						  </font> 
						  <hr style="opacity: 0;" />
					</span>
				</li>
				<!-- <li>
					<span>
						  <img src="./static/src/luxian.gif"  class="pg" title="热力图是以特殊高亮的形式显示访客热衷的页面区域和访客所在的地理区域的图示。热力图 可以显示不可点击区域发生的事情。城市热力图该检测方式只提供参考。">
						  <b></b>
						  <font>
							<a href="#">查看详情</a>
							<a class="big-link" data-reveal-id="myModal" href="#">上传数据</a>
						  </font>
					</span>
				</li>
				<li>
					<span>
						  <img src="./static/src/luxian.gif" class="pg" title="热力图是以特殊高亮的形式显示访客热衷的页面区域和访客所在的地理区域的图示。热力图 可以显示不可点击区域发生的事情。城市热力图该检测方式只提供参考。">
						  <b></b>
						  <font>
							<a href="#">查看详情</a>
							<a class="big-link" data-reveal-id="myModal" href="#">上传数据</a>
						  </font>
					</span>
				</li>
				<li>
					<span>
						  <img src="./static/src/luxian.gif" class="pg" title="热力图是以特殊高亮的形式显示访客热衷的页面区域和访客所在的地理区域的图示。热力图 可以显示不可点击区域发生的事情。城市热力图该检测方式只提供参考。">
						  <b></b>
						  <font>
							<a href="#">查看详情</a>
							<a class="big-link" data-reveal-id="myModal" href="#">上传数据</a>
						  </font>
					</span>
				</li> -->
				
			</ul>
		</div>

	</div>
	<div id="myModal1" class="reveal-modal">
			<div class="message">
				<form method="post" action="" enctype="multipart/form-data">					
					<input type="text" id="txt" name="txt" class="input" value="文件域" disabled="disabled" />
					<!-- <input type="button" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="上传图片" size="30" onClick="f.click()" class="liulan"> -->
					<input type="file" id="excel-file1" onChange="txt.value=this.value" value="test" name="f" style="height:26px;width: 100px;" class="liulan"  size="1" hidefocus>
					<!-- <button value="submit" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" onclick="location.href='detail.html'" class="button">上传完成</button> -->
					<input type="button" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="上传完成" size="30" onclick="location.href='index/detail/index1.html'" class="choose">
					<a class="close-reveal-modal">&#215;</a>
				</form>
			</div>
	</div>
	<div id="myModal2" class="reveal-modal">
			<div class="message">
				<form method="post" action="" enctype="multipart/form-data">					
					<input type="text" id="txt" name="txt" class="input" value="文件域" disabled="disabled" />
					<!-- <input type="button" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="上传图片" size="30" onClick="f.click()" class="liulan"> -->
					<input type="file" id="excel-file1" onChange="txt.value=this.value" value="test" name="f" style="height:26px;width: 100px;" class="liulan"  size="1" hidefocus>
					<!-- <button value="submit" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" onclick="location.href='detail.html'" class="button">上传完成</button> -->
					<input type="button" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="上传完成" size="30" onclick="location.href='index/detail/index2.html'" class="choose">
					<a class="close-reveal-modal">&#215;</a>
				</form>
			</div>
	</div>
	<div id="myModal3" class="reveal-modal">
			<div class="message">
				<form method="post" action="" enctype="multipart/form-data">					
					<input type="text" id="txt" name="txt" class="input" value="文件域" disabled="disabled" />
					<!-- <input type="button" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="上传图片" size="30" onClick="f.click()" class="liulan"> -->
					<input type="file" id="excel-file3" onChange="txt.value=this.value" value="test" name="f" style="height:26px;width: 100px;" class="liulan"  size="1" hidefocus>
					<!-- <button value="submit" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" onclick="location.href='detail.html'" class="button">上传完成</button> -->
					<input type="button" onMouseMove="f.style.pixelLeft=event.x-60;f.style.pixelTop=this.offsetTop;" value="上传完成" size="30" onclick="location.href='index/detail/index3.html'" class="choose">
					<a class="close-reveal-modal">&#215;</a>
				</form>
			</div>
	</div>
</body>
<script type="text/javascript">
    var fileReadData=[]  
    var fileDateArr=[]   //这个就是时间数组
    var fileLocArr=[]   //这是整理后用来渲染热力图的数据

    $('#excel-file3').change(function(e) {
        var files = e.target.files;
        var fileReader = new FileReader();
        fileReader.onload = function(ev) {
            try {
                var data = ev.target.result,
                    workbook = XLSX.read(data, {
                        type: 'binary'}),
                    persons = []; // 存储获取到的数据
            } catch (e) {
                console.log('文件类型不正确');
                return;
            }

            // 表格的表格范围，可用于判断表头是否数量是否正确
            var fromTo = '';
            // 遍历每张表读取
            for (var sheet in workbook.Sheets) {
                if (workbook.Sheets.hasOwnProperty(sheet)) {
                    fromTo = workbook.Sheets[sheet]['!ref'];
                    console.log(fromTo);
                    persons = persons.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
                   break;
                }
            }
			
			
            fileReadData=persons;
            var fileLocItem=[];
            fileReadData.forEach(function (e,index) {
                var baseItem={"lng":e.lng,"lat":e.lat,"count":e.count};
                if(index===0){
                    fileLocItem.push(baseItem)
                    fileDateArr.push(new Date(1900, 0, e.time-1).toLocaleString())
                }else {
                    if(e.time===fileReadData[index-1].time){
                        fileLocItem.push(baseItem)
                    }else{
                        fileDateArr.push(new Date(1900, 0, e.time-1).toLocaleString())
                        fileLocArr.push(fileLocItem)
                        fileLocItem=[]
                        fileLocItem.push(baseItem)
                    }
                }
            })//处理所读excel数据

			var locStr=JSON.stringify(fileLocArr)
			var dateStr=JSON.stringify(fileDateArr)
            localStorage.setItem('locArr',locStr)
		    localStorage.setItem('dateArr',dateStr)
		console.log(localStorage.getItem('locArr'))
		console.log(localStorage.getItem('dateArr'))

        };
        fileReader.readAsBinaryString(files[0]);
    });
	
	$('#excel-file1').change(function(e) {
        var files = e.target.files;
        var fileReader = new FileReader();
        fileReader.onload = function(ev) {
            try {
                var data = ev.target.result,
                    workbook = XLSX.read(data, {
                        type: 'binary'}),
                    persons = []; // 存储获取到的数据
            } catch (e) {
                console.log('文件类型不正确');
                return;
            }

            // 表格的表格范围，可用于判断表头是否数量是否正确
            var fromTo = '';
            // 遍历每张表读取
            for (var sheet in workbook.Sheets) {
                if (workbook.Sheets.hasOwnProperty(sheet)) {
                    fromTo = workbook.Sheets[sheet]['!ref'];
                    console.log(fromTo);
                    persons = persons.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
                   break;
                }
            }
            fileReadData=persons;
            var fileLocItem=[];
			
            fileReadData.forEach(function (e) {
                var fileLocItem={"lng":e.lng,"lat":e.lat,"count":e.count};
				fileLocArr.push(fileLocItem)
			
            })//处理所读excel数据

			var locStr=JSON.stringify(fileLocArr)
			
			//var dateStr=JSON.stringify(fileDateArr)
        localStorage.setItem('locArr',locStr)
		//localStorage.setItem('dateArr',dateStr)
		console.log(localStorage.getItem('locArr'))
		//console.log(localStorage.getItem('dateArr'))

        };
        fileReader.readAsBinaryString(files[0]);
    });
	
	</script>
</html>